/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding: 50px;
}

button {
  width: 80px;
  margin: 7px;
}

@media only screen and (max-width: 540px) {
  body {
    padding: 14px;
  }
}
